.item-wrapper {
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.15));
}

.item {
  width: 347px;
  height: 162px;
  background-color: transparent;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  clip-path: polygon(
                  0 0,
                  100% 0,
                  100% calc(50% - 6px),
                  calc(100% - 6px) 50%,
                  100% calc(50% + 6px),
                  100% 100%,
                  0 100%,
                  0 calc(50% + 6px),
                  6px 50%,
                  0 calc(50% - 6px),
  );
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #DF212D;
  }

  &::before {
    content: '';
    width: 345px;
    height: 160px;
    border-radius: 10px;
    clip-path: polygon(
                    0 0,
                    100% 0,
                    100% calc(50% - 6px),
                    calc(100% - 6px) 50%,
                    100% calc(50% + 6px),
                    100% 100%,
                    0 100%,
                    0 calc(50% + 6px),
                    6px 50%,
                    0 calc(50% - 6px),
    );
    background: #FFFFFF;
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;

    @include media-breakpoint-down(desktop) {
      width: 294px;
      height: 142px;
    }

    @include media-breakpoint-down(tablet) {
      width: 266px;
      height: 128px;
    }
  }

  &::after {
    content: '';
    width: 345px;
    height: 160px;
    border-radius: 10px;
    clip-path: polygon(
                    0 0,
                    100% 0,
                    100% calc(50% - 6px),
                    calc(100% - 6px) 50%,
                    100% calc(50% + 6px),
                    100% 100%,
                    0 100%,
                    0 calc(50% + 6px),
                    6px 50%,
                    0 calc(50% - 6px),
    );
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;

    @include media-breakpoint-down(desktop) {
      width: 294px;
      height: 142px;
    }

    @include media-breakpoint-down(tablet) {
      width: 266px;
      height: 128px;
    }
  }

  &__wine::after {
    background: no-repeat right url('wine.png');

    @include media-breakpoint-down(desktop) {
      background-size: 104px;
    }

    @include media-breakpoint-down(tablet) {
      background-size: 90px;
    }
  }

  &__beer::after {
    background: no-repeat right url('beer.png');

    @include media-breakpoint-down(desktop) {
      background-size: 104px;
    }

    @include media-breakpoint-down(tablet) {
      background-size: 90px;
    }
  }

  &__cake::after {
    background: no-repeat right url('cake.png');

    @include media-breakpoint-down(desktop) {
      background-size: 104px;
    }

    @include media-breakpoint-down(tablet) {
      background-size: 90px;
    }
  }

  &__fruit::after {
    background: no-repeat right url('fruit.png');

    @include media-breakpoint-down(desktop) {
      background-size: 104px;
    }

    @include media-breakpoint-down(tablet) {
      background-size: 90px;
    }
  }

  &__ice::after {
    background: no-repeat right url('ice.png');

    @include media-breakpoint-down(desktop) {
      background-size: 104px;
    }

    @include media-breakpoint-down(tablet) {
      background-size: 90px;
    }
  }

  &__meat::after {
    background: no-repeat right url('meat.png');

    @include media-breakpoint-down(desktop) {
      background-size: 104px;
    }

    @include media-breakpoint-down(tablet) {
      background-size: 90px;
    }
  }

  &__roll::after {
    background: no-repeat right/auto url('roll.png');

    @include media-breakpoint-down(desktop) {
      background-size: 104px;
    }

    @include media-breakpoint-down(tablet) {
      background-size: 90px;
    }
  }

  &__sushi::after {
    background: no-repeat right url('sushi.png');

    @include media-breakpoint-down(desktop) {
      background-size: 104px;
    }

    @include media-breakpoint-down(tablet) {
      background-size: 90px;
    }
  }

  @include media-breakpoint-down(desktop) {
    width: 296px;
    height: 144px;
  }

  @include media-breakpoint-down(tablet) {
    width: 268px;
    height: 130px;
    margin-bottom: 15px;
  }
}

.item-data {
  font-family: Roboto, sans-serif;
  position: absolute;
  margin-top: 16px;
  margin-left: 20px;
  left: 0;
  top: 0;

  &__header {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin-bottom: 4px;

    @include media-breakpoint-down(desktop) {
      font-size: 14px;
    }

    @include media-breakpoint-down(tablet) {
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    opacity: 0.5;
    color: #000000;
    margin-bottom: 43px;

    @include media-breakpoint-down(desktop) {
      font-size: 14px;
      margin-bottom: 31px;
    }

    @include media-breakpoint-down(tablet) {
      font-size: 12px;
      margin-bottom: 22px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 36px;
    line-height: 28px;
    color: #DF212D;
    margin-bottom: 6px;
    text-transform: uppercase;

    @include media-breakpoint-down(tablet) {
      font-size: 28px;
      margin-bottom: 0;
    }
  }

  &__type {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    opacity: 0.5;

    @include media-breakpoint-down(tablet) {
      font-size: 12px;
    }
  }
}
